
$active: none;
$focus:none;
$hover:#000010;

$ac: #fcd7b6;
// $default:$black;
$white: #FFFFFF;
$black: #000000;
$title: #436372;
$btn-menu:silver;

/*$ac: #fcd7b6;

/*accent*/
// $orange: #FF9900;
// $green:#14B4BE;
// $green:#14B4BE;
// $antique:#fde7d3;
// $default: #243f4d;
// $Cream: #feefe2;
// $Crayola: #c2d2db;
// $red: #e72828;
// $red1 :#fe3e57;
// $orange: #ffa500;