.about {
    &__box {
        display: flex;
        justify-content: center;
        margin-bottom: 95px;
        @include adaptiveValue("margin-bottom", 95, 20);
    }

    &__title {
        color: $brown2;
        font-size: 42px;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        @include adaptiveValue("padding-left", 100, 20);
        @include adaptiveValue("padding-right", 100, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 0;
            height: 2px;
            width: 100%;
            background-color: $gray3;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        @include adaptiveValue("padding-bottom", 90, 20);
        @include adaptiveValue("gap", 50, 20);

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__right,
    &__left {
        max-width: 370px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            margin: 0 auto;
        }
    }

    &__img {
        width: 370px;
        height: 440px;
        object-fit: cover;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            height: 350px;
        }
    }

    &__name {
        font-weight: 700;
        @include line-height(28, 39, px, );
        text-align: center;
        position: relative;
        @include adaptiveValue("margin-bottom", 60, 20);

        @media (max-width: 576px) {
            font-size: 26px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 220px;
            display: inline-block;
        }
    }

    &__link {
        margin: 0 auto;
        @include adaptiveValue("margin-bottom", 30, 20);
        max-width: 30px;
        display: block;
        line-height: 0;
    }

    &__svg {
        border-radius: 50%;
        transition: opacity .5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: .7;
        }

        &:active {
            color: $active;
        }
    }

    &__text {
        color: $gray;
        @include line-height(18, 28, px, );
        text-align: center;
        max-width: 325px;
    }

    &__subtext {
        @include line-height(22, 29, px, );
        @include adaptiveValue("padding-bottom", 40, 20);
        @include adaptiveValue("padding-top", 40, 20);
        border-bottom: 1px solid rgba(33, 36, 61, 0.2);
        border-top: 1px solid rgba(33, 36, 61, 0.2);
        position: relative;

        @media (max-width: 1200px) {
            font-size: 20px;
        }

        @media (max-width: 992px) {
            font-size: 19px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__wrap {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        width: 70px;
        height: 50px;

        @media (max-width: 768px) {
            top: -25%;
        }

        @media (max-width: 576px) {
            top: -18px;
            width: 35px;
            height: 35px;
        }
    }

    &__icon {
        margin: 0 auto;
        max-width: 50px;
        display: flex;

        @media (max-width: 576px) {
            width: 35px;
            height: 35px;
        }
    }

    &__subtext p {
        max-width: 680px;
        margin: 0 auto;
        text-align: center;
    }
}