.intro {
    background-image: url('../images/dist/books-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

    @media (max-width: 1200px) {
        height: 100vh;
        justify-content: center;
    }

    @media (max-width: 992px) {
        padding-top: 120px;
        height: 100%;
        padding-bottom: 50px;
    }

    &__menu {
        margin-bottom: 110px;

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }
    }

    &__box {
        max-width: 650px;
    }

    &__title {
        margin-bottom: 105px;
        @include line-height(28, 35, px, );

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__title span {
        color: $ac;
    }

    &__link-modal {
        display: table;
        margin: 0 auto;
        padding: 16px 30px;
    }
}
