.pedigree {
    background-image: url('../images/dist/search.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    z-index: 1;

    @media (max-width: 1200px) {
        height: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba(30, 30, 35, 0.85);
        z-index: -1;
    }

    &__box {
        padding-left: 170px;

        @media (max-width: 1200px) {
            padding-left: 0;
        }
    }

    &__title {
        color: $brown4;
        @include line-height(33, 46, px, );
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            font-size: 30px;
        }

        @media (max-width: 992px) {
            font-size: 28px;
        }

        @media (max-width: 768px) {
            font-size: 26px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__items {
        gap: 10px;
    }

    &__item {
        color: $white;
        @include line-height(20, 32, px, );

        @media (max-width: 1200px) {
            font-size: 19px;
        }

        @media (max-width: 992px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__item span {
        color: $green;
        font-size: 29px;

        @media (max-width: 1200px) {
            font-size: 26px;
        }

        @media (max-width: 992px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 22px;
        }

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
}