.recommendations {
    background-image: url('../images/dist/photos.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        background-color: rgba(35, 29, 20, 0.71);
        z-index: -1;
    }

    &__title {
        color: $brown4;
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        @include adaptiveValue("margin-bottom", 50, 20);

        @media (max-width: 1200px) {
            font-size: 38px;
        }

        @media (max-width: 992px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }

    &__wrapper {
        overflow: hidden;
        position: relative;
    }

    &__items {
        height: 560px;

        @media (max-width: 1200px) {
            height: 100%;
        }
    }

    &__box {
        text-align: center;
    }

    &__wrap {
        max-width: 740px;
        margin: 0 auto;

        @media (max-width: 992px) {
            max-width: 70%;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__img {
        object-fit: cover;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        max-width: 120px;
        margin: 0 auto 20px;
        display: flex;
    }

    &__subtitle {
        color: $brown4;
        font-size: 24px;
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__link {
        transition: opacity .5s;
        margin-bottom: 20px;
        display: inline-block;
        line-height: 0;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: .7;
        }

        &:active {
            color: $active;
        }
    }

    &__svg {
        border-radius: 50%;
    }

    &__text {
        color: $white;
    }
}

// --------------------- стили слайдера
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 25px;
    z-index: 1;
}

.swiper-button-next {
    right: 1%;
}

.swiper-button-prev {
    left: 1%;
}

.swiper-button-next,
.swiper-button-prev {
    color: $white;
    top: 50%;
    opacity: .8;
    transition: opacity .5s;

    @media (max-width: 768px) {
        top: 27%;
    }

    &:focus {
        color: $focus;
    }

    &:hover {
        opacity: 1;

    }

    &:active {
        color: $active;
    }
}