@import './main/intro';
@import './main/reviews';
@import './main/service';
@import './main/history';
@import './main/pedigree';
@import './main/about';
@import './main/prices';
@import './main/results';
@import './main/guarantees';
@import './main/recommendations';
@import './main/faq';

@import './components/modal';
@import './components/header';
@import './components/footer';


// стили слайдера recommendations
// form в модал